/* Main layout */
body {
	background-color: #ece8dc;
}

.container {
	width: 800px;
	margin: 20px auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header {
	width: 800px;
	margin-bottom: 40px;
}

.image {
	float: left;	
	width: 600px;
}

.images {
	position: relative;
	width: 550px;
	margin-right: 50px;
	margin-bottom: 20px;
}

.images .info {
	display: none;
	position: absolute;
	background-color: #ba5425;
	width: 518px;
	left: 10px;
	bottom: 10px;
	padding: 5px;
}

.images:hover .info{
	display: block;
}

.class-links {
	float: right;
	width: 150px;
}

.class-links a {
	display: block;
	line-height: 20px;
	color: #ba5425;
}
.class-links a:hover {
	color: #fff;
}

/* Type */

h1 {
	font-size: 16px;
	font-variant: small-caps;
	color: #3c3a35;
	margin-bottom: 15px;
}

#blue {
	color: #357aaa
	;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	font-family: Georgia, "Times New Roman", serif; 
	color: #88886a;
}

h3 {
	font-size; 12px;
	color: #fff;
}
