/* Base */

body {
	font-family: "Sentinel", Georgia, serif;
}


div {
	float: left;
}

.snygg-bkgrnd {
	background-image: url(../img/folds_pillow.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}

/* Layout */

.container-left {
	position: relative;
	width: 400px;
	height: 1000px;
	margin: 20 20 0 20;
	margin-right: 20px;
	font-size: 14px;
	font-weight: 400;
}

.container-left a {
	display: block;
	margin-bottom: 20px;
}

.container-left header a {
	background-color: #fff;
	opacity: 0.7;
	width: 400px;
	height: 75px;
}

.container-left section {
	padding-top: 15px;
	border-top: 2px;
	border-style: dashed;
	border-color: #1c9dd6;
	font-size: 18px;
	line-height: 1em;
} 

.container-left section p {
	margin-bottom: 10px;
}

.container-left footer p {
	line-height: 16px;
}

.container-left footer li{
	float: left;
	padding-right: 15px;
}

.container-left footer ul{
	padding-top: 20px;
}

.container-right {
	position: absolute;
	left: 445px;
	top: 0px;
	width: 485px;
	height: 800px;
	background-color: white;
	font-family: "Whitney", Helvetica, sans-serif;

}

section {
	margin: 20 0;
}

nav {
	margin-top: 30px;
	margin-left: 30px;
}

/* Specific type */

.ecclectic {
	font-size: 245%;
	font-weight: 400;
	text-align: center;
	color: #5c5d52;
}

.one {
	font-family: "Gotham", Helvetica, sans-serif;
	font-size: 370%;
	font-weight: 200;
	font-variant: small-caps;
	letter-spacing: 2px;
	text-align: center;
	color: #1c9dd6;

}

.handmade {
	font-size: 220%;
	font-weight: 500;
	font-style: italic;
	color: #d2d3c3;
	text-align: center;

}


h3 {

}

/* Nav Buttons */

nav li {
	float: left;
	width: 217px;
}

nav li a {
	color: white;
	text-align: center; 
	font-size: 14px;
	font-weight: 400;
	font-variant: small-caps;
	letter-spacing: 1px;
	text-decoration: none;
	padding: 4 10 5 10;
	background-color: #1c9dd6;
	border: 1px;
	border-radius: 3px;
}

nav .custom-work a {
	background-color: #919288;
}

