/* Layout */
body {
	width: 920px;
	margin: 0 auto;
	padding-left: 20px;
	font-family: "Open Sans", Helvetica, Arial, Sans-serif;
	font-weight: 400;
	font-size: 12px;
}

nav {
	margin-top: 20px;
	margin-bottom: 30px;
}

nav li {
	width: 110px;
	float: left;
}

nav li a {
	display: block;
	padding: 8px 0;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: gray;
	background-image: linear-gradient(#71706b, #71706b 48%, #5a5956 50%, #5a5956);
	border-right: 1px solid black;
}

nav #no_border {
	border-right: none;
	border-radius: 0 3px 3px 0;
}

nav a:hover {
	background-color: black;
}

nav #apple {
	border-radius: 3px 0 0 3px;
	font-size: 15px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Type */

h1 {
	font-size: 24px;
	font-weight: 600;
}

h2 {
	font-size: 14px;
	font-weight: 600;
}

.product {
	font-size: 26px;
	text-align: left;
	font-weight: 600;
	height: 60px;
}

.product h4 {
	font-size: 12px;
	font-weight: 700;
}

td h3 {
	font-size: 12px;
	font-weight: 700;
	padding-top: 7px;
}

/* Tables */
table {
	width: 850px;
	border-collapse: separate;
}

table td {
	text-align: left;
	margin: 12px;
}

td {
	padding: 3px 10px;
}

li {
	float: left;	
}

td li {
	padding-right: 10px;
}
.section td {
	padding-top: 10px;
	border-top: 1px solid #71706b;
	font-size: 9px;
	font-weight: 600;
}

.section th {
	border-top: 1px solid #71706b;
}

