body {
	font-family: "Gotham", helvetica, sans-serif;
	font-size: 15px;
	font-weight: 200;
	line-height: 1.5em;
	color: ffffff;
}



div {
	float: left;
}


.products {
	width: 1024px;
	height: 650px;
}

.intro-stocks {
	background-color: #3cb4e7;
	width: 633px;
	height: 233px;
	padding: 30 20 20 15;

}

h1 {
	font-family: "Champion Lightwt", helvetica, sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 2em;
}

h2 {
	font-size: 24px;
	line-height: 2em;

}