body {
	font-family: 'Gotham SSm A', 'Gotham SSm B', helvetica, sans-serif;
	font-size: 15px;
	font-weight: 200;
	line-height: 1.5em;
	color: #fff;
}

/* DIVs */

div {
	float: left;
	background-color: #fff;
}

.products {
	width: 1024px;
	height: 650px;
	background-color: #E4E4E4;
	opacity: 0.8;
}

.intro-stocks {
	position: relative;
	background-color: #3cb4e7;
	width: 633px;
	height: 233px;
	padding: 30 60 20 15;
	margin-bottom: 10px;

}

.advantages {
	position: absolute;
	left: 643px;
	background-color: #fff;
	width: 300px;
	height: 233px;
	padding: 20 15;

}

.list {
	position: absolute;
	left: 10px;
	top: 243px;
	background-color: #fff;
	width: 320px;
	padding: 20 15;
}

.body-copy {
	font-size: 12px;
	line-height: 0.5em;
	color: #161616;
	width: 745px;
	height: 800px;
	padding: 20 15;
}

/* TYPE */

h1 {
	font-family: 'Champion Featherwt A', 'Champion Featherwt B', helvetica, sans-serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 3px;
	font-variant: small-caps;
}

h2 {
	font-size: 24px;
	line-height: 1em;
	font-weight: 200;

}

.body-copy h2 {
	color: #3cb4e7;
}

h3 {
	font-size: 15px;
	font-weight: 700;
	font-variant: small-caps;
	letter-spacing: 3px;
	color: #161616;

}
.advantages ul {
	font-size: 19px;
	color: #161616;
	line-height: 2em;
}

.list ul {
	font-size: 15px;
	color: #161616;
	line-height: 1em;
}

.buttons {
	background-color: #3cb4e7;
	width: 275px;
	height: 42px;
	font-size: 12px;
	color: #fff;
	padding: 10 15;
}

.buttons .uc {
	background-color: #008100;
	font-size: 15px;
	font-variant: small-caps;
	letter-spacing: 2px;
}

.buttons .lc-bold{
	font-weight: 400;
}

.buttons .uc-bold{
	font-weight: 400;
	font-size: 15px;
	font-variant: small-caps;
	letter-spacing: 2px;
}