body {
	font-family: 'Gotham SSm A', 'Gotham SSm B', helvetica, sans-serif;
	font-size: 15px;
	font-weight: 200;
	line-height: 1.5em;
	color: #fff;
}

/* DIVs */

div {
	float: left;
}


.products {
	width: 1024px;
	height: 650px;
	background-color: #E4E4E4;
	opacity: 0.8;
}

.intro-stocks {
	background-color: #3cb4e7;
	width: 633px;
	height: 233px;
	padding: 30 20 20 15;

}

.advantages {
	width: 368px;
	height: 233px;
	padding: 20 15;
}

/* TYPE */

h1 {
	font-family: 'Champion Lightwt A', 'Champion Lightwt B', helvetica, sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 2em;
	letter-spacing: 2px;
	font-variant: small-caps;
}

h2 {
	font-size: 24px;
	line-height: 1em;

}

h3 {
	font-size: 13px;
	font-weight: 400;
	font-variant: small-caps;
	letter-spacing: 3px;
}