body {
	font-family: 'Gotham SSm A', 'Gotham SSm B', helvetica, sans-serif;
	font-size: 15px;
	font-weight: 200;
	line-height: 1.5em;
	color: #fff;
}

/* DIVs */

div {
	float: left;
}


.products {
	width: 1024px;
	height: 650px;
	background-color: #E4E4E4;
	opacity: 0.8;
}

.intro-stocks {
	position: relative;
	background-color: #3cb4e7;
	width: 633px;
	height: 233px;
	padding: 30 20 20 15;
	margin-bottom: 10px;

}

.advantages {
	position: absolute;
	background-color: #fff;
	width: 350px;
	height: 233px;
	padding: 20 15;
	margin-left: 10px;

}

.list {
	position: absolute;
	background-color: #fff;
	width: 320px;
}

/* TYPE */

h1 {
	font-family: 'Champion Featherwt A', 'Champion Featherwt B', helvetica, sans-serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 3px;
	font-variant: small-caps;
}

h2 {
	font-size: 24px;
	line-height: 1em;
	font-weight: 200;

}

h3 {
	font-size: 15px;
	font-weight: 500;
	font-variant: small-caps;
	letter-spacing: 3px;
	color: #161616;

}
.advantages ul {
	font-size: 19px;
	color: #161616;
	line-height: 2em;
}

.list ul {
	font-size: 15px;
	color: #161616;
	line-height: 1em;
}